html,
body {
  height: 100%;
  font-size:0.8vw;
}

.header{
    
    margin: 0;
}

.logo{
    width: 100%; 
    top: 0.5rem;
    position: absolute;
}

#containerId{
    height:100%;
    margin: 0;
    padding: 0;
}

#col1{
    background-color: rgb(0, 175, 239);
    color: white;
    height:100%;
    margin-top:50px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;

}

#col2{
    height:100%;
    background-color: white;
    color: black;
    margin-top:100px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
}


.menuDiv{
    
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: black;
    background-color: transparent;
    text-align: center;
}

.menu{
    background-color: transparent;
    text-align: center;
}

.item{
    
    position: absolute;
    height: 6rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid;
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:link:visited:hover:active{
    text-decoration: none;
}

.item:hover{
    background-color: rgb(206, 197, 197);
    text-decoration: none;
}

.rowNew{
    background-color: rgb(170, 247, 215);
}

.formDiv{
    padding: 5rem 15rem 5rem 15rem;
    font-size: 20px;
}

.card-text{
    text-align: left;
}

select, option, input, td{
    font-size: 1vw;
}
