html,
body {
  height: 100%;

}

.mleft10{
    margin-left: 15px;
}

.no-padding{
    padding: 0;
}

a:link:visited:hover:active{
    text-decoration: none;
}

.rowNew{
    background-color: rgb(170, 247, 215);
}

.formDiv{
    padding: 0 20rem 5rem 20rem;
    
}

.card-text{
    text-align: left;
}

select, option, input, td{
    font-size: 0.8vw;
}

.btnOpen{
    color: white;
}
.profileTable{
    width: 35rem;
}

#floatingTextarea{
    height: 10rem;
}
.placeHolder{
    color: rgb(165, 160, 160);
}
